<div class="container-fluid mt-2 mb-3">
  <div class="row">
    <div class="col-auto mt-2">
      <mat-form-field>
        <mat-label>Выберете тип подразделения</mat-label>
        <mat-select (selectionChange)="applyFilter($event.value)">
          <mat-option value=''>Все</mat-option>
          <mat-option [value]="item_type_department" *ngFor="let item_type_department of list_type_department">
            {{item_type_department}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Office -->
      <mat-form-field *ngIf="booleanTypeOffice">
        <mat-label>Выберете подразделения</mat-label>
        <mat-select (selectionChange)="applyFilter($event.value)">
          <mat-option value=''>Все</mat-option>
          <mat-option [value]="items_list_department" *ngFor="let items_list_department of list_department">
            {{items_list_department}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Trade dot -->
    <div *ngIf="booleanTypeTradeDot" class="col-auto mt-2">

      <mat-form-field *ngIf="all_cities">
        <mat-label>Выберете должность</mat-label>
        <mat-select [(ngModel)]="position" (selectionChange)="applyFilter($event.value)">
          <mat-option *ngFor="let items_list_position of list_position" [value]="items_list_position">
            {{items_list_position}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="!all_cities">
        <mat-label>Выберете город</mat-label>
        <mat-select [(ngModel)]="array_city" (selectionChange)="ngModelChangeCities()" multiple>
          <mat-option *ngFor="let items_list_cities of list_cities" [value]="items_list_cities">{{items_list_cities}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="!all_cities">
        <mat-label>Выберете заведение</mat-label>
        <mat-select [(ngModel)]="array_number_td" (selectionChange)="ngModelChangeNumberTT()" multiple>
          <mat-option *ngFor="let items_list_number_tt of list_number_tt" [value]="items_list_number_tt">
            TT-{{items_list_number_tt}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <!-- <div class="col-auto mt-2">
      <mat-form-field class="example-full-width">
        <mat-label>Текст сообщения</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5" [(ngModel)]='textMessage'></textarea>
      </mat-form-field>
    </div>
    <div class="mt-2">
      <button mat-raised-button color="primary" (click)="buttonSendMessage()">Отправить</button>
    </div> -->
  </div>
  <h2 class="m-2">Подключенные</h2>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource_connected">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null; selectPerson()"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null; selectPerson()" [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="id_person">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id_person}} </td>
      </ng-container>

      <ng-container matColumnDef="fi">
        <th mat-header-cell *matHeaderCellDef> Фамилия, Имя </th>
        <td mat-cell *matCellDef="let element"> {{element.fi}} </td>
      </ng-container>

      <ng-container matColumnDef="type_department">
        <th mat-header-cell *matHeaderCellDef> Тип подразделения </th>
        <td mat-cell *matCellDef="let element"> {{element.type_department}} </td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Подразделение </th>
        <td mat-cell *matCellDef="let element"> {{element.department}} </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Должность </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Статус </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns_connected"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns_connected;"></tr>
    </table>
    <mat-paginator #paginator_connected [pageSizeOptions]="[20, 30, 50]" showFirstLastButtons></mat-paginator>
  </div>

  <h2 class="m-2">Выбранные</h2>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource_select">

      <ng-container matColumnDef="fi">
        <th mat-header-cell *matHeaderCellDef> Фамилия, Имя </th>
        <td mat-cell *matCellDef="let element"> {{element.fi}} </td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Подразделение </th>
        <td mat-cell *matCellDef="let element"> {{element.department}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns_select"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns_select;"></tr>
    </table>
    <mat-paginator #paginator_select [pageSizeOptions]="[20, 30, 50]" showFirstLastButtons></mat-paginator>
  </div>
  <h2 class="m-2">Не подключенные</h2>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource_not_connected">

      <ng-container matColumnDef="id_person">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id_person}} </td>
      </ng-container>

      <ng-container matColumnDef="fi">
        <th mat-header-cell *matHeaderCellDef> Фамилия, Имя </th>
        <td mat-cell *matCellDef="let element"> {{element.fi}} </td>
      </ng-container>

      <ng-container matColumnDef="type_department">
        <th mat-header-cell *matHeaderCellDef> Тип подразделения </th>
        <td mat-cell *matCellDef="let element"> {{element.type_department}} </td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Подразделение </th>
        <td mat-cell *matCellDef="let element"> {{element.department}} </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Должность </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Статус </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns_not_connected"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns_not_connected;"></tr>
    </table>
    <mat-paginator #paginator_not_connected [pageSizeOptions]="[20, 30, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>
