.example-headers-align mat-expansion-panel-header-title,
.example-headers-align mat-expansion-panel-header-description {
    flex-basis: 0;
    width: 100%;
}

.example-headers-align mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

mat-form-field+mat-form-field {
    margin-right: 8px;
}

mat-checkbox+mat-checkbox {
    margin-right: 8px;
}

.height {
    min-height: 86vh;
}

.example-spacer {
    flex: 1 1 auto;
}

// .box-shadow {
//     box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
// }