<div class="container-fluid row mt-2">

  <!-- Модал alert сотрудник добавлен success -->
  <div #modalAddEmloyee id="modalAddEmployee" class="modal fade">
    <div class="modal-dialog">
      <div class="alert alert-success text-center" role="alert">{{alert_message}}</div>
    </div>
  </div>

  <!-- Модал alert edit success -->
  <div #modal_alert_edit_employee id="modal_alert_edit_employee" class="modal fade">
    <div class="modal-dialog">
      <div class="alert alert-success text-center" role="alert">{{modal_alert_message}}</div>
    </div>
  </div>
  <!-- Модал alert add ERROR -->
  <div #modal_alert_error id="modal_alert_add_error" class="modal fade">
    <div class="modal-dialog">
      <div class="alert alert-warning text-center" role="alert">{{alert_message}}</div>
    </div>
  </div>
  <!-- Модал alert edit ERROR -->
  <div #modal_alert_edit_error id="modal_alert_edit_error" class="modal fade">
    <div class="modal-dialog">
      <div class="alert alert-warning text-center" role="alert">
        <h3>{{modal_alert_message}}</h3>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="row">
      <div class="col-2">
        <mat-form-field>
          <mat-label>Поиск</mat-label>
          <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>
      </div>
      <div class="ml-auto">
        <button mat-fab color="primary" data-toggle="modal" data-target="#modalNew_user">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="mat-elevation-z8 mt-1">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row" style="padding-left: 15px; padding-right: 15px;"><button mat-flat-button
              [ngStyle]="{'background-color': row.color, 'color': row.color }">{{row.color === '' ? '' : row.color.substr(0, 1)}}</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="fio" class="col-2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ф.И.О.</th>
          <td mat-cell *matCellDef="let row">{{ row.fio }}</td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Должность</th>
          <td mat-cell *matCellDef="let row">{{row.position}}</td>
        </ng-container>

        <ng-container matColumnDef="interview_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата собеседования</th>
          <td mat-cell *matCellDef="let row">{{ row.interview_date }}</td>
        </ng-container>

        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>TT (Подразделение)</th>
          <td mat-cell *matCellDef="let row">{{row.department}}</td>
        </ng-container>

        <ng-container matColumnDef="number_phone">
          <th mat-header-cell *matHeaderCellDef>Номер телефона</th>
          <td mat-cell *matCellDef="let row">{{row.number_phone}}</td>
        </ng-container>

        <ng-container matColumnDef="internship_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата стажировки</th>
          <td mat-cell *matCellDef="let row">{{ row.internship_date }}</td>
        </ng-container>

        <ng-container matColumnDef="internship_place">
          <th mat-header-cell *matHeaderCellDef>ТТ (Стажировки)</th>
          <td mat-cell *matCellDef="let row">{{ row.internship_place }}</td>
        </ng-container>

        <ng-container matColumnDef="rejection_reason">
          <th mat-header-cell *matHeaderCellDef>Причина отказа</th>
          <td mat-cell *matCellDef="let row">{{ row.rejection_reason }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Статус</th>
          <td mat-cell *matCellDef="let row">{{ row.status }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns_user_hr; sticky: true"></tr>
        <tr mat-row class="example-element-row" *matRowDef="let row; columns: displayedColumns_user_hr"
          (dblclick)="open_edit_employee(row)"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>


<!-- Модал новый сотрудник -->
<div #modalNew_user id="modalNew_user" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Новый сотрудник</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="new_form_employee">

          <mat-form-field class="col" appearance="standard">
            <mat-label>Фамилия</mat-label>
            <input matInput formControlName="first_name">
            <mat-error *ngIf="!!f.first_name.errors?.required">Введите фамилию</mat-error>
          </mat-form-field>

          <div class="container row">
            <mat-form-field class="col" appearance="standard">
              <mat-label>Имя</mat-label>
              <input matInput formControlName="last_name">
              <mat-error *ngIf="!!f.last_name.errors?.required">Введите имя</mat-error>
            </mat-form-field>

            <mat-form-field class="col" appearance="standard">
              <mat-label>Отчество</mat-label>
              <input matInput formControlName="second_name">
            </mat-form-field>
          </div>

          <div class="container row">

            <mat-form-field class="col" appearance="standard">
              <mat-label>Статус</mat-label>
              <mat-select matInput formControlName="status">
                <mat-option value="Кандидат">Кандидат</mat-option>
                <mat-option value="Резерв">Резерв</mat-option>
                <mat-option value="Отказали">Отказали</mat-option>
                <mat-option value="Стажёр">Стажёр</mat-option>
                <mat-option value="Работает">Работает</mat-option>
                <mat-option value="Уволен">Уволен</mat-option>
              </mat-select>
              <mat-error *ngIf="!!f.status.errors?.required">Ввыберет статус</mat-error>
            </mat-form-field>

            <mat-form-field class="col" appearance="standard">
              <mat-label>Маркер</mat-label>
              <mat-select formControlName="color">
                <mat-option value="#f44336">Красный</mat-option>
                <mat-option value="#ffff00">Желтый</mat-option>
                <mat-option value="#76ff03">Зелёный</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="container row">
            <mat-form-field class="col" appearance="outline">
              <mat-label>Номер телефона</mat-label>
              <input type="tel" matInput formControlName="number_phone" placeholder="0988788181">
              <mat-icon matSuffix>stay_current_portrait</mat-icon>
              <mat-error *ngIf="!!f.number_phone.errors?.required">Введите телефон</mat-error>
              <mat-error *ngIf="!!f.number_phone.errors?.pattern">Неверный формат номера телефона</mat-error>
            </mat-form-field>

            <mat-form-field class="col" appearance="standard">
              <mat-label>Тип подразделения</mat-label>
              <mat-select formControlName="type_department">
                <mat-option value="Торговая точка">Торговая точка</mat-option>
                <mat-option value="Офис">Офис</mat-option>
              </mat-select>
              <mat-error *ngIf="!!f.type_department.errors?.required">Выберете подразделения</mat-error>
            </mat-form-field>
          </div>

          <mat-form-field class="col" *ngIf="office" appearance="standard">
            <mat-label>Должность</mat-label>
            <input matInput formControlName="position">
            <mat-error *ngIf="!!form_edit.position.errors?.required">Выберете должность</mat-error>
          </mat-form-field>

          <mat-form-field class="col" *ngIf="office">
            <mat-label>Подразделение</mat-label>
            <input matInput formControlName="department">
            <mat-error *ngIf="!!f.department.errors?.required">Выберете подразделение</mat-error>
          </mat-form-field>

          <mat-form-field class="col" *ngIf="trade_dot" appearance="standard">
            <mat-label>Должность</mat-label>
            <mat-select matInput formControlName="position">
              <mat-option value="Продавец">Продавец</mat-option>
              <mat-option value="Повар">Повар</mat-option>
              <mat-option value="Продавец(0.5)">Продавец 0.5</mat-option>
              <mat-option value="Повар(0.5)">Повар 0.5</mat-option>
              <mat-option value="Продавец(У)">Продавец(У)</mat-option>
              <mat-option value="Повар(У)">Повар(У)</mat-option>
            </mat-select>
            <mat-error *ngIf="!!form_edit.position.errors?.required">Выберете должность</mat-error>
          </mat-form-field>

          <mat-form-field class="col" *ngIf="trade_dot">
            <mat-label>Место работы (ТТ)</mat-label>
            <mat-select formControlName="department">
              <mat-option [value]="option.substring(0, 2)" *ngFor="let option of id_tt">
                {{option}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!!f.department.errors?.required">Выберете ТТ</mat-error>
          </mat-form-field>

          <div class="container" *ngIf="candidat">

            <div class="row">
              <mat-form-field class="col" appearance="standard">
                <mat-label>Откуда узнал о вакансии</mat-label>
                <mat-select formControlName="attraction_channel">
                  <mat-option value="Work.ua">Work.ua</mat-option>
                  <mat-option value="Rabota.ua">Rabota.ua</mat-option>
                  <mat-option value="Instagram">Instagram</mat-option>
                  <mat-option value="Facebook">Facebook</mat-option>
                  <mat-option value="Telegram">Telegram</mat-option>
                  <mat-option value="Реклама на магазине">Реклама на магазине</mat-option>
                  <mat-option value="OLX">OLX</mat-option>
                  <mat-option value="Рекомендация от третьих лиц">Рекомендация от третьих лиц</mat-option>
                </mat-select>
                <mat-error *ngIf="!!f.attraction_channel.errors?.required">Выберет значение</mat-error>
              </mat-form-field>

              <mat-form-field class="col" appearance="standard">
                <mat-label>Комментарий</mat-label>
                <input matInput formControlName="attraction_channel_description">
              </mat-form-field>
            </div>

            <mat-form-field class="col" appearance="standard">
              <mat-label>Дата собеседования</mat-label>
              <input matInput formControlName="interview_date" [matDatepicker]="picker_interview_date">
              <mat-datepicker-toggle matSuffix [for]="picker_interview_date"></mat-datepicker-toggle>
              <mat-datepicker #picker_interview_date></mat-datepicker>
            </mat-form-field>

          </div>

          <div class="container row">

          </div>

          <div class="d-flex">
            <button mat-raised-button color="primary" class="mr-auto" (click)="add_employee()">Добавить</button>
            <button mat-raised-button color="primary" data-dismiss="modal">Отмена</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Модал редактирование сотрудника -->
<div #modal_edit_employee id="modal_edit_employee" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form [formGroup]="form_edit_employee">

          <mat-form-field class="col" appearance="standard">
            <mat-label>Фамилия</mat-label>
            <input matInput formControlName="first_name">
            <mat-error *ngIf="!!form_edit.first_name.errors?.required">Введите фамилию</mat-error>
          </mat-form-field>

          <div class="container row">

            <mat-form-field class="col" appearance="standard">
              <mat-label>Имя</mat-label>
              <input matInput formControlName="last_name">
              <mat-error *ngIf="!!form_edit.last_name.errors?.required">Введите имя</mat-error>
            </mat-form-field>

            <mat-form-field class="col" appearance="standard">
              <mat-label>Отчество</mat-label>
              <input matInput formControlName="second_name">
            </mat-form-field>

          </div>


          <div class="container row">

            <mat-form-field class="col" appearance="outline">
              <input type="tel" matInput formControlName="number_phone" placeholder="0988788181">
              <mat-icon matSuffix>stay_current_portrait</mat-icon>
              <mat-error *ngIf="!!form_edit.number_phone.errors?.required">Введите телефон</mat-error>
              <mat-error *ngIf="!!form_edit.number_phone.errors?.pattern">Неверный формат номера телефона</mat-error>
            </mat-form-field>

            <mat-form-field class="col" appearance="standard">
              <mat-label>Маркер</mat-label>
              <mat-select formControlName="color">
                <mat-option value="#f44336">Красный</mat-option>
                <mat-option value="#ffff00">Желтый</mat-option>
                <mat-option value="#76ff03">Зелёный</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div class="container row">

            <mat-form-field class="col" appearance="standard">
              <mat-label>Дата собеседования</mat-label>
              <input matInput formControlName="interview_date" [matDatepicker]="picker_edit_form1">
              <mat-datepicker-toggle matSuffix [for]="picker_edit_form1"></mat-datepicker-toggle>
              <mat-datepicker #picker_edit_form1></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col" appearance="standard">
              <mat-label>Дата обучения</mat-label>
              <input matInput formControlName="certification_date" [matDatepicker]="picker_certification_date">
              <mat-datepicker-toggle matSuffix [for]="picker_certification_date"></mat-datepicker-toggle>
              <mat-datepicker #picker_certification_date></mat-datepicker>
            </mat-form-field>

          </div>

          <mat-form-field class="col" appearance="standard">
            <mat-label>Тип подразделения</mat-label>
            <mat-select formControlName="type_department">
              <mat-option value='Офис'>Офис</mat-option>
              <mat-option value='Торговая точка'>Торговая точка</mat-option>
            </mat-select>
            <mat-error *ngIf="!!form_edit.type_department.errors?.required">Выберете подразделение</mat-error>
          </mat-form-field>

          <div class="container row">

            <mat-form-field class="col" appearance="standard" *ngIf="trade_dot">
              <mat-label>Подразделение</mat-label>
              <mat-select formControlName="department">
                <mat-option [value]="option.substring(0, 2)" *ngFor="let option of id_tt">
                  {{option}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="!!form_edit.department.errors?.required">Выберете ТТ</mat-error>
            </mat-form-field>

            <mat-form-field class="col" *ngIf="trade_dot" appearance="standard">
              <mat-label>Должность</mat-label>
              <mat-select formControlName="position">
                <mat-option value="Продавец">Продавец</mat-option>
                <mat-option value="Повар">Повар</mat-option>
                <mat-option value="Продавец(0.5)">Продавец 0.5</mat-option>
                <mat-option value="Повар(0.5)">Повар 0.5</mat-option>
                <mat-option value="Продавец(У)">Продавец(У)</mat-option>
                <mat-option value="Повар(У)">Повар(У)</mat-option>
              </mat-select>
              <mat-error *ngIf="!!form_edit.position.errors?.required">Выберете должность</mat-error>
            </mat-form-field>

            <mat-form-field class="col" *ngIf="office" appearance="standard">
              <mat-label>Подразделение</mat-label>
              <input matInput formControlName="department">
              <mat-error *ngIf="!!form_edit.position.errors?.required">Введите название подразделение</mat-error>
            </mat-form-field>

            <mat-form-field class="col" *ngIf="office" appearance="standard">
              <mat-label>Должность</mat-label>
              <input matInput formControlName="position">
              <mat-error *ngIf="!!form_edit.position.errors?.required">Введите должность</mat-error>
            </mat-form-field>
          </div>

          <div class="container row">
            <mat-form-field class="col" appearance="standard">
              <mat-label>Откуда узнал о вакансии</mat-label>
              <mat-select formControlName="attraction_channel">
                <mat-option value="Work.ua">Work.ua</mat-option>
                <mat-option value="Rabota.ua">Rabota.ua</mat-option>
                <mat-option value="Instagram">Instagram</mat-option>
                <mat-option value="Facebook">Facebook</mat-option>
                <mat-option value="Telegram">Telegram</mat-option>
                <mat-option value="Реклама на магазине">Реклама на магазине</mat-option>
                <mat-option value="OLX">OLX</mat-option>
                <mat-option value="Рекомендация от третих лиц">Рекомендация от третих лиц</mat-option>
              </mat-select>
              <mat-error *ngIf="!!form_edit.attraction_channel.errors?.required">Выберете значение</mat-error>
            </mat-form-field>

            <mat-form-field class="col" appearance="standard">
              <mat-label>Комментарий</mat-label>
              <input matInput formControlName="attraction_channel_description">
            </mat-form-field>

          </div>

          <div class="container row" *ngIf="internships">

            <mat-form-field class="col" appearance="standard">
              <mat-label>Место стажировки</mat-label>
              <mat-select formControlName="internship_place">
                <mat-option [value]="option.substring(0, 2)" *ngFor="let option of id_tt">
                  {{option}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="!!form_edit.internship_place.errors?.required">Выберете место стажировки</mat-error>
            </mat-form-field>

            <mat-form-field class="col" appearance="standard">
              <mat-label>Дата стажировки</mat-label>
              <input matInput [matDatepicker]="picker_internship_date" formControlName="internship_date">
              <mat-datepicker-toggle matSuffix [for]="picker_internship_date"></mat-datepicker-toggle>
              <mat-datepicker #picker_internship_date></mat-datepicker>
            </mat-form-field>

          </div>

          <div class="container row">

            <mat-form-field class="col" appearance="standard">
              <mat-label>Статус</mat-label>
              <mat-select matInput formControlName="status">
                <mat-option value="Кандидат">Кандидат</mat-option>
                <mat-option value="Обучение">Обучение</mat-option>
                <mat-option value="Резерв">Резерв</mat-option>
                <mat-option value="Стажёр">Стажёр</mat-option>
                <mat-option value="Работает">Работает</mat-option>
                <mat-option value="Уволен">Уволен</mat-option>
                <mat-option value="Отказали">Отказали</mat-option>
              </mat-select>
              <mat-error *ngIf="!!form_edit.status.errors?.required">Выберете статус</mat-error>
            </mat-form-field>

            <mat-form-field class="col" appearance="standard" *ngIf="if_rejection_reasos">
              <mat-label>Причина отказа</mat-label>
              <mat-select matInput formControlName="rejection_reason">
                <mat-option value="Отказ рекрутера">Отказ рекрутера</mat-option>
                <mat-option value="Переоценка собстевнных сил">Переоценка собстевнных сил</mat-option>
                <mat-option value="Не выход на стажировку">Невыход на стажировку</mat-option>
                <mat-option value="Отказ менеджера">Отказ менеджера</mat-option>
              </mat-select>
              <mat-error *ngIf="!!form_edit.rejection_reason.errors?.required">Введите значение</mat-error>
            </mat-form-field>

          </div>

          <mat-form-field class="col">
            <mat-label>Комментарий к сотруднику</mat-label>
            <textarea matInput formControlName="employee_description"></textarea>
          </mat-form-field>

          <div class="d-flex">
            <button mat-raised-button color="primary" class="mr-auto" (click)="update_employee()">Изменить</button>
            <button mat-raised-button color="primary" data-dismiss="modal">Отмена</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>