<div class="container-fluid mt-2 mb-3">
  <div class="col">
    <div class="row">
      <div class="col-2">
        <mat-form-field>
          <mat-label>Поиск</mat-label>
          <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>
      </div>
      <div class="ml-auto">
        <button mat-fab color="primary" (click)="openDialog('','new')">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="mat-elevation-z8 mt-1">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row" style="padding-right: 15px;"><button mat-flat-button
              [ngStyle]="{'background-color': row.color, 'color': row.color }">{{row.color === '' ? '' : row.color.substr(0, 1)}}</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="fio" class="col-2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ф.И.О.</th>
          <td mat-cell *matCellDef="let row" style="text-align: left">{{ row.fio }}</td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >Должность</th>
          <td mat-cell *matCellDef="let row" >{{row.position}}</td>
        </ng-container>

        <ng-container matColumnDef="interview_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата собеседования</th>
          <td mat-cell *matCellDef="let row">{{ row.interview_date }}</td>
        </ng-container>

        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>TT (Подразделение)</th>
          <td mat-cell *matCellDef="let row">{{row.department}}</td>
        </ng-container>

        <ng-container matColumnDef="number_phone">
          <th mat-header-cell *matHeaderCellDef>Номер телефона</th>
          <td mat-cell *matCellDef="let row">{{row.number_phone}}</td>
        </ng-container>

        <ng-container matColumnDef="internship_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата стажировки</th>
          <td mat-cell *matCellDef="let row">{{ row.internship_date }}</td>
        </ng-container>

        <ng-container matColumnDef="internship_place">
          <th mat-header-cell *matHeaderCellDef>ТТ (Стажировки)</th>
          <td mat-cell *matCellDef="let row">{{ row.internship_place }}</td>
        </ng-container>

        <ng-container matColumnDef="rejection_reason">
          <th mat-header-cell *matHeaderCellDef>Причина отказа</th>
          <td mat-cell *matCellDef="let row">{{ row.rejection_reason }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Статус</th>
          <td mat-cell *matCellDef="let row">{{ row.status }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns_user_hr;"></tr>
        <tr mat-row class="example-element-row" *matRowDef="let row; columns: displayedColumns_user_hr"
          (dblclick)="openDialog(row, 'edit')"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[20, 30, 50]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>


