<div class="col-3 login">
  <h1 class="text-center mb-5">Pizza Day</h1>
  <div class="form-group">
    <div class="mb-3" [hidden]="(error === undefined) || (error === 'Successful')" class="alert alert-danger">{{error}}
    </div>
    <mat-form-field class="col" appearance="legacy">
      <mat-label>User name</mat-label>
      <input matInput type="text" (keydown.enter)="logIn()" [(ngModel)]="userName"
        [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <mat-form-field class="col" appearance="legacy">
      <mat-label>Password</mat-label>
      <input matInput type="password" (keydown.enter)="logIn()" [(ngModel)]="password"
        [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-between">
    <button mat-raised-button class="btn-block" (keydown.enter)="logIn()" color="primary" (click)="logIn()">Войти</button>
  </div>

