<div class="container-fluid row mt-2 mb-3">
  <div class="col">
    <div class="row">
      <div class="col-2">
        <mat-form-field>
          <mat-label>Поиск</mat-label>
          <input matInput [(ngModel)]="search" (keyup)="applyFilter($event)">
        </mat-form-field>
      </div>
      <div class="ml-auto">
        <button mat-fab-button  color="primary" (click)="downloadFileCSV()"><span class="material-icons">
          save_alt
          </span></button>
      </div>
      <div [formGroup]="form" class="ml-2">
        <mat-form-field>
          <input matInput [satDatepicker]="picker" formControlName="date">
          <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
          <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
        </mat-form-field>
      </div>
      <div class="ml-2">
        <button mat-fab color="primary" (click)="openDialog(this.id_person ,'new')">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  <div class="mat-elevation-z8 mt-1 mb-2">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id_person">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let row"> {{row.id_person}} </td>
      </ng-container>

      <ng-container matColumnDef="fio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ф.И.О.</th>
        <td mat-cell *matCellDef="let row">{{ row.fio }}</td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Подразделение</th>
        <td mat-cell *matCellDef="let row">{{row.department}}</td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Позиция</th>
        <td mat-cell *matCellDef="let row">{{ row.position }}</td>
      </ng-container>

      <ng-container matColumnDef="number_phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Номер телефона</th>
        <td mat-cell *matCellDef="let row">{{ row.number_phone }}</td>
      </ng-container>

      <ng-container matColumnDef="interview_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата обучения</th>
        <td mat-cell *matCellDef="let row">{{ row.interview_date }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Статус</th>
        <td mat-cell *matCellDef="let row">{{ row.status }}</td>
      </ng-container>

      <ng-container matColumnDef="employee_description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Комментарий к сотруднику</th>
        <td mat-cell *matCellDef="let row">{{ row.employee_description }}</td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row"><button mat-icon-button (click)="openDialog(row,'delete')">
            <mat-icon>delete</mat-icon>
          </button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row class="example-element-row" *matRowDef="let row; columns: displayedColumns"
        (dblclick)="openDialog(row,'edit')"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[20,30,50]" showFirstLastButtons></mat-paginator>
  </div>
</div>
</div>

<!-- Модал alert edit success -->
<!-- <div #modal_alert_success id="modal_alert_success" class="modal fade">
  <div class="modal-dialog">
    <div class="alert alert-success text-center" role="alert">{{modal_alert_message}}</div>
  </div>
</div> -->
