<!-- Модал alert edit success -->
<div #modal_alert_success id="modal_alert_success" class="modal fade">
  <div class="modal-dialog">
    <div class="alert alert-success text-center" role="alert">{{modal_alert_message}}</div>
  </div>
</div>

<!-- Модал alert add ERROR -->
<div #modal_alert_error id="modal_alert_error" class="modal fade">
  <div class="modal-dialog">
    <div class="alert alert-danger text-center" role="alert">{{modal_alert_message}}</div>
  </div>
</div>


<!-- Модал новый сотрудник -->
<!-- <div #modalNew_user id="modalNew_user" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       
      </div>
    </div>
  </div>
</div> -->

<!-- Модал Удаление сотрудника -->
<div #modal_delete_employee id="modal_delete_employee" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

      

        <div class="d-flex">
         
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Модал редактирование сотрудника -->
<!-- <div #modal_edit_employee id="modal_edit_employee" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid row mt-2">
  <div class="col">
    <div class="row">
      <div class="col-2">
        <mat-form-field>
          <mat-label>Поиск</mat-label>
          <input matInput [(ngModel)]="search" (keyup)="applyFilter($event)">
        </mat-form-field>
      </div>
      <div class="ml-auto">
        <button mat-fab color="primary" (click)="openDialog(this.id_personal ,this.value ='new')">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="mat-elevation-z8 mt-1">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id_personal">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let row"> {{row.id_personal}} </td>
        </ng-container>

        <ng-container matColumnDef="last_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Фамилия</th>
          <td mat-cell *matCellDef="let row">{{ row.last_name }}</td>
        </ng-container>

        <ng-container matColumnDef="first_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Имя</th>
          <td mat-cell *matCellDef="let row">{{ row.first_name }}</td>
        </ng-container>

        <ng-container matColumnDef="second_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Отчество</th>
          <td mat-cell *matCellDef="let row">{{ row.second_name }}</td>
        </ng-container>

        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Подразделение</th>
          <td mat-cell *matCellDef="let row">{{row.department}}</td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Позиция</th>
          <td mat-cell *matCellDef="let row">{{ row.position }}</td>
        </ng-container>

        <ng-container matColumnDef="number_phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Номер телефона</th>
          <td mat-cell *matCellDef="let row">{{ row.number_phone }}</td>
        </ng-container>

        <ng-container matColumnDef="interview_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата обучения</th>
          <td mat-cell *matCellDef="let row">{{ row.interview_date }}</td>
        </ng-container>

        <ng-container matColumnDef="certification_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата обучения</th>
          <td mat-cell *matCellDef="let row">{{ row.certification_date }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Статус</th>
          <td mat-cell *matCellDef="let row">{{ row.status }}</td>
        </ng-container>

        <ng-container matColumnDef="employee_description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Комментарий к сотруднику</th>
          <td mat-cell *matCellDef="let row">{{ row.employee_description }}</td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row"><button mat-icon-button (click)="openDialog(row, value = 'delete')">
              <mat-icon>delete</mat-icon>
            </button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row class="example-element-row" *matRowDef="let row; columns: displayedColumns"
          (dblclick)="openDialog(row, this.value='edit')"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[15,30,50]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>