<!-- Модал alert edit success -->
<div #modal_alert_edit_employee id="modal_alert_edit_employee" class="modal fade">
    <div class="modal-dialog">
        <div class="alert alert-success text-center" role="alert">{{modal_alert_message}}</div>
    </div>
</div>

<!-- Модал alert edit ERROR -->
<div #modal_alert_edit_error id="modal_alert_edit_error" class="modal fade">
    <div class="modal-dialog">
        <div class="alert alert-warning text-center" role="alert">
            <h3>{{modal_alert_message}}</h3>
        </div>
    </div>
</div>


<mat-form-field class="col-2 mt-2">
    <mat-label>Поиск</mat-label>
    <input matInput [(ngModel)]="search" (keyup)="applyFilter($event)">
</mat-form-field>
<!-- <div class="ml-auto">
          <button mat-fab color="primary" data-toggle="modal" data-target="#modalNew_user">
            <mat-icon>add</mat-icon>
          </button>
        </div> -->
<div class="example-container mt-1">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row" style="padding-left: 15px; padding-right: 15px;"><button mat-flat-button
                    [ngStyle]="{'background-color': row.color, 'color': row.color }">{{row.color === '' ? '' : row.color.substr(0, 1)}}</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="fio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 50px;">Ф.И.О.</th>
            <td mat-cell *matCellDef="let row">{{ row.fio }}</td>
        </ng-container>

        <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TT,подразделение</th>
            <td mat-cell *matCellDef="let row" style="padding-right: 25px;" class="text-center">
                {{row.department}}</td>
        </ng-container>

        <ng-container matColumnDef="position" st>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Должность</th>
            <td mat-cell *matCellDef="let row">{{row.position}}</td>
        </ng-container>

        <ng-container matColumnDef="certification_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата обучения</th>
            <td mat-cell *matCellDef="let row">{{ row.certification_date}}</td>
        </ng-container>

        <ng-container matColumnDef="internship_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата стажировки</th>
            <td mat-cell *matCellDef="let row">{{ row.internship_date }}</td>
        </ng-container>

        <ng-container matColumnDef="internship_place">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ТТ(стажировки)</th>
            <td mat-cell *matCellDef="let row">{{ row.internship_place }}</td>
        </ng-container>

        <ng-container matColumnDef="test_date_1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата Продавец №1</th>
            <td mat-cell *matCellDef="let row"> {{ row.test_date_1 }} </td>
        </ng-container>

        <ng-container matColumnDef="test_number_ball_1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Оценка Продавец №1</th>
            <td mat-cell *matCellDef="let row"> {{ row.test_number_ball_1}}
                {{row.test_number_ball_1 !== "" ? "баллов" : ""}} </td>
        </ng-container>

        <ng-container matColumnDef="test_date_2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата Продавец №2</th>
            <td mat-cell *matCellDef="let row"> {{ row.test_date_2 }} </td>
        </ng-container>

        <ng-container matColumnDef="test_number_ball_2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Оценка Продавец №2</th>
            <td mat-cell *matCellDef="let row"> {{ row.test_number_ball_2 }}
                {{row.test_number_ball_2 !== "" ? "баллов" : ""}} </td>
        </ng-container>

        <ng-container matColumnDef="test_date_3">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата Повар №3</th>
            <td mat-cell *matCellDef="let row"> {{ row.test_date_3 }} </td>
        </ng-container>

        <ng-container matColumnDef="test_number_ball_3">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Оценка Повар №3</th>
            <td mat-cell *matCellDef="let row"> {{ row.test_number_ball_3 }}
                {{row.test_number_ball_3 !== "" ? "баллов" : ""}} </td>
        </ng-container>
        <ng-container matColumnDef="test_date_4">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата Повар №4</th>
            <td mat-cell *matCellDef="let row"> {{ row.test_date_4 }} </td>
        </ng-container>

        <ng-container matColumnDef="test_number_ball_4">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Оценка Повар №4</th>
            <td mat-cell *matCellDef="let row"> {{ row.test_number_ball_4 }}
                {{row.test_number_ball_4 !== "" ? "баллов" : ""}} </td>
        </ng-container>

        <ng-container matColumnDef="test_date_5">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата Повар №5</th>
            <td mat-cell *matCellDef="let row"> {{ row.test_date_5 }} </td>
        </ng-container>

        <ng-container matColumnDef="test_number_ball_5">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Оценка Повар №5</th>
            <td mat-cell *matCellDef="let row"> {{ row.test_number_ball_5 }}
                {{row.test_number_ball_5 !== "" ? "баллов" : ""}} </td>
        </ng-container>


        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Статус</th>
            <td mat-cell *matCellDef="let row"> {{ row.status }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns_user_hr; sticky: true"></tr>
        <tr mat-row class="example-element-row col" *matRowDef="let row; columns: displayedColumns_user_hr"
            (dblclick)="open_edit_employee(row)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
</div>


<!-- Модал редактирование сотрудника -->
<div #modal_edit_employee id="modal_edit_employee" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form [formGroup]="form_edit_employee">

                    <mat-form-field class="col" appearance="standard">
                        <mat-label>Фамилия</mat-label>
                        <input matInput formControlName="first_name">
                        <mat-error *ngIf="!!form_edit.first_name.errors?.required">Поле не заполненно</mat-error>
                    </mat-form-field>

                    <div class="container row">

                        <mat-form-field class="col" appearance="standard">
                            <mat-label>Имя</mat-label>
                            <input matInput formControlName="last_name">
                            <mat-error *ngIf="!!form_edit.last_name.errors?.required">Поле не заполненно</mat-error>
                        </mat-form-field>

                        <mat-form-field class="col" appearance="standard">
                            <mat-label>Отчество</mat-label>
                            <input matInput formControlName="second_name">
                        </mat-form-field>

                    </div>
                    <div class="container row">

                        <mat-form-field class="col" appearance="outline">
                            <input type="tel" matInput formControlName="number_phone" placeholder="0988788181">
                            <mat-icon matSuffix>stay_current_portrait</mat-icon>
                            <mat-error *ngIf="!!form_edit.number_phone.errors?.required">Поле не заполнено</mat-error>
                            <mat-error *ngIf="!!form_edit.number_phone.errors?.pattern">Неверный формат номера телефона
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="col" appearance="standard">
                            <mat-label>Маркер</mat-label>
                            <mat-select formControlName="color">
                                <mat-option value="#f44336">Красный</mat-option>
                                <mat-option value="#ffff00">Желтый</mat-option>
                                <mat-option value="#76ff03">Зелёный</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="container row">

                        <mat-form-field class="col-6" appearance="standard">
                            <mat-label>Дата обучения</mat-label>
                            <input matInput formControlName="certification_date"
                                [matDatepicker]="picker_certification_date">
                            <mat-datepicker-toggle matSuffix [for]="picker_certification_date"></mat-datepicker-toggle>
                            <mat-datepicker #picker_certification_date></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="col" appearance="standard">
                            <mat-label>Статус</mat-label>
                            <mat-select matInput formControlName="status">
                                <mat-option value="Кандидат">Кандидат</mat-option>
                                <mat-option value="Обучение">Обучение</mat-option>
                                <mat-option value="Резерв">Резерв</mat-option>
                                <mat-option value="Стажёр">Стажёр</mat-option>
                                <mat-option value="Работает">Работает</mat-option>
                                <mat-option value="Уволен">Уволен</mat-option>
                                <mat-option value="Отказали">Отказали</mat-option>
                            </mat-select>
                            <mat-error *ngIf="!!form_edit.status.errors?.required">Поле не заполненно</mat-error>
                        </mat-form-field>

                    </div>



                    <div class="container row">
                        <mat-form-field class="col" appearance="standard">
                            <mat-label>Дата теста №1</mat-label>
                            <input matInput formControlName="test_date_1" [matDatepicker]="picker_test_date_1" readonly>
                            <mat-datepicker-toggle matSuffix [for]="picker_test_date_1"></mat-datepicker-toggle>
                            <mat-datepicker #picker_test_date_1></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="col" appearance="standard">
                            <mat-label>Оценка теста №1</mat-label>
                            <input matInput type='number' formControlName="test_number_ball_1">
                            <mat-error *ngIf="!!form_edit.test_number_ball_1.errors?.max">Максимальная оценка 100
                            </mat-error>
                            <mat-error *ngIf="!!form_edit.test_number_ball_1.errors?.min">Максимальная оценка 10
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div class="container row">

                        <mat-form-field class="col" appearance="standard">
                            <mat-label>Дата теста №2</mat-label>
                            <input matInput formControlName="test_date_2" [matDatepicker]="picker_test_date_2" readonly>
                            <mat-datepicker-toggle matSuffix [for]="picker_test_date_2"></mat-datepicker-toggle>
                            <mat-datepicker #picker_test_date_2></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="col" appearance="standard">
                            <mat-label>Оценка теста №2</mat-label>
                            <input matInput type='number' formControlName="test_number_ball_2">
                            <mat-error *ngIf="!!form_edit.test_number_ball_2.errors?.max">Максимальная оценка 100
                            </mat-error>
                            <mat-error *ngIf="!!form_edit.test_number_ball_2.errors?.max">Максимальная оценка 10
                            </mat-error>
                        </mat-form-field>

                    </div>


                    <div class="container row">

                        <mat-form-field class="col" appearance="standard">
                            <mat-label>Дата теста №3</mat-label>
                            <input matInput formControlName="test_date_3" [matDatepicker]="picker_test_date_3" readonly>
                            <mat-datepicker-toggle matSuffix [for]="picker_test_date_3"></mat-datepicker-toggle>
                            <mat-datepicker #picker_test_date_3></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="col" appearance="standard">
                            <mat-label>Оценка теста №3</mat-label>
                            <input matInput type='number' formControlName="test_number_ball_3">
                            <mat-error *ngIf="!!form_edit.test_number_ball_3.errors?.max">Максимальная оценка 100
                            </mat-error>
                            <mat-error *ngIf="!!form_edit.test_number_ball_3.errors?.max">Максимальная оценка 10
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div class="container row">

                        <mat-form-field class="col" appearance="standard">
                            <mat-label>Дата теста №4</mat-label>
                            <input matInput formControlName="test_date_4" [matDatepicker]="picker_test_date_4" readonly>
                            <mat-datepicker-toggle matSuffix [for]="picker_test_date_4"></mat-datepicker-toggle>
                            <mat-datepicker #picker_test_date_4></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="col" appearance="standard">
                            <mat-label>Оценка теста №4</mat-label>
                            <input matInput type='number' formControlName="test_number_ball_4">
                            <mat-error *ngIf="!!form_edit.test_number_ball_4.errors?.max">Максимальная оценка 100
                            </mat-error>
                            <mat-error *ngIf="!!form_edit.test_number_ball_4.errors?.max">Максимальная оценка 10
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div class="container row">

                        <mat-form-field class="col" appearance="standard">
                            <mat-label>Дата теста №5</mat-label>
                            <input matInput formControlName="test_date_5" [matDatepicker]="picker_test_date_5" readonly>
                            <mat-datepicker-toggle matSuffix [for]="picker_test_date_5"></mat-datepicker-toggle>
                            <mat-datepicker #picker_test_date_5></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="col" appearance="standard">
                            <mat-label>Оценка теста №5</mat-label>
                            <input matInput type='number' formControlName="test_number_ball_5">
                            <mat-error *ngIf="!!form_edit.test_number_ball_5.errors?.max">Максимальная оценка 100
                            </mat-error>
                            <mat-error *ngIf="!!form_edit.test_number_ball_5.errors?.max">Максимальная оценка 10
                            </mat-error>
                        </mat-form-field>

                    </div>



                    <div class="container row">

                        <mat-form-field class="col" appearance="standard">
                            <mat-label>Дата стажировки</mat-label>
                            <input matInput formControlName="internship_date" [matDatepicker]="picker_internship_date">
                            <mat-datepicker-toggle matSuffix [for]="picker_internship_date"></mat-datepicker-toggle>
                            <mat-datepicker #picker_internship_date></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="col" appearance="standard">
                            <mat-label>Место стажировки</mat-label>
                            <mat-select formControlName="internship_place">
                                <mat-option [value]="option.substring(0, 2)" *ngFor="let option of id_tt">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="!!form_edit.internship_place.errors?.required">Поле не заполненно
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <mat-form-field class="col">
                        <mat-label>Комментарий к сотруднику</mat-label>
                        <textarea matInput formControlName="employee_description"></textarea>
                    </mat-form-field>


                    <div class="d-flex">
                        <button mat-raised-button color="primary" class="mr-auto" (click)="update_employee()">Обновит
                        </button>
                        <button mat-raised-button color="primary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>