table {
  width: 100%;
}
.mat-cell, .mat-footer-cell {
  font-size: 12px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
tr.example-element-row:not(.example-expanded-row):hover {
  background: #e0e0e0;
}
.container-fluid{
  min-height: 90vh;
}

