<mat-toolbar *ngIf="user_id !== null" color="primary">
    <mat-toolbar-row class="box-shadow">
        <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
        <a class="navbar-brand text-white">Pizza Day DB</a>
        <div class="ml-auto row">
            <h3 class="mr-3">{{user_name}}</h3>
            <button mat-raised-button color="warn" *ngIf="user_id !== null" class="mr-3" (click)="logout()">Выйти</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container>
    <mat-drawer #drawer [mode]="mode">
        <mat-list>
            <mat-list-item>
                <mat-icon>dns</mat-icon><button id='buttonNav_1' mat-flat-button (click)="togglePage('main_page','access_main')">Главная</button></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="user_role === 'admin'">
                <mat-icon>perm_contact_calendar</mat-icon><button mat-flat-button (click)="togglePage('settings_page','access_settings')">Пользователи</button></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="user_role !== 'user_mt'">
              <mat-icon>assignment</mat-icon><button mat-flat-button (click)="togglePage('tests_page','access_tests')">Тесты</button></mat-list-item>
          <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon>store</mat-icon><button mat-flat-button (click)="togglePage('list_tt_page','access_list_tt')">Заведение</button></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon>reply_all</mat-icon><button mat-flat-button (click)="togglePage('distribution_page','access_distribution')">Рассылка в Telegram</button></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item >
              <mat-icon>report</mat-icon><button mat-flat-button (click)="togglePage('report_page','access_report')">Отзывы и предложения</button></mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
    </mat-drawer>
    <app-main *ngIf="main_page && user_role === 'admin'"></app-main>
    <app-main-user-mt *ngIf="main_page && user_role === 'user_mt'"></app-main-user-mt>
    <app-main-user-hr *ngIf="main_page && user_role === 'user_hr'"></app-main-user-hr>
    <app-settings-users *ngIf="settings_page"></app-settings-users>
    <app-list-tt *ngIf="list_tt_page"></app-list-tt>
    <app-telegram-send *ngIf="distribution_page"></app-telegram-send>
    <app-report-page *ngIf="report_page"></app-report-page>
    <app-tests *ngIf="tests_page"></app-tests>
</mat-drawer-container>

<app-login *ngIf="login_page"></app-login>



<!-- Copyright 2020 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
