<mat-toolbar class="justify-content-between" color="primary">
  <a class="navbar-brand text-white">Research Tool<button class="ml-2" mat-fab
      color="primary">{{program_v}}</button></a>
  <!-- <nav [hidden]="login === true" class="justify-content-center" [backgroundColor]="backgroundColorToggle"
    mat-tab-nav-bar>
    <a mat-tab-link [active]="pageOne === true" (click)="selectMenuItem('pageOne')">Main</a>
    <a mat-tab-link [active]="userPage === true" (click)="selectMenuItem('userPage')">User Page</a>
    <a mat-tab-link [active]="backTestReport === true" (click)="selectMenuItem('backTestReport')">Backtest Report</a>
    <a mat-tab-link [active]="statistic_table === true" (click)="selectMenuItem('statistic_table')">OOS Results</a>
    <a mat-tab-link [active]="graphs === true" (click)="selectMenuItem('graphs')">Graphs</a>
  </nav> -->
  <div [hidden]="login === true">
    <a class="mr-3">Hello, {{user_name_title}}</a>
    <button mat-raised-button color="warn" *ngIf="user_id !== null" class="ml-1" (click)="logout()">logout</button>
    <button mat-raised-button *ngIf="user_name_title === 'test_2'" data-toggle="modal" class="ml-2"
      data-target="#register_user">Register user</button>
  </div>
</mat-toolbar>


<app-login *ngIf="login"></app-login>
<app-page-one *ngIf="pageOne"></app-page-one>
<app-back-test-report *ngIf="backTestReport"></app-back-test-report>
<app-userpage *ngIf="userPage"></app-userpage>
<app-statistick-table *ngIf="statistic_table"></app-statistick-table>
<app-graphs-statisticks *ngIf="graphs"></app-graphs-statisticks>

<!-- down toolbar -->
<mat-toolbar [hidden]="login === true" class="fixed-bottom" color="primary">

  <div class="text-center">
    <a *ngIf="bool_button_err" class="mr-1">Research status</a>
    <button class="ml-2" *ngIf="bool_button_err" mat-mini-fab color="warn" (click)="openLogError()">Error</button>
    <div class="row">
      <a class="ml-2" [matTooltip]="progress_tooltip">{{status_text}}</a>
      <mat-spinner class="ml-2" color="accent" [diameter]="30" *ngIf="error_time_function"></mat-spinner>
    </div>
  </div>

  <button mat-raised-button class="ml-auto mr-2"
    (click)="addBacktestList()">Add BT</button>
  <mat-form-field style="font-size: 15px;">
    <mat-select multiple [(ngModel)]="backtest_list_type" (click)="clickType()">
      <mat-select-trigger>
        BT #{{backtest_list_type ? backtest_list_type[0] : ''}}
        <span *ngIf="backtest_list_type?.length > 1" class="example-additional-selection">
          (+{{backtest_list_type.length - 1}} {{backtest_list_type?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let backtest_list_row of backtest_list" [value]="backtest_list_row">
        BT #{{backtest_list_row}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="col-2 ml-auto">
    <button mat-raised-button class="btn-block" [disabled]="disRun"
      (click)="RunPy()">Start</button>
  </div>

</mat-toolbar>


<!-- <div #myModalError_run id="myModalError_run" class="modal-err fade" data-backdrop='false'>
  <div class="modal-dialog">
    <div class="alert alert-danger text-center" role="alert">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{error}}
    </div>
  </div>
</div> -->
<div #script_completed id="script_completed" class="modal fade">
  <div class="modal-dialog">
    <div class="alert alert-success text-center" role="alert">
      {{error}}
    </div>
  </div>
</div>

<div #backtest_add id="backtest_add" class="col-2 ml-auto modal-err fade" data-backdrop='false'>
  <div class="modal-dialog">
    <div class="alert alert-success text-center" role="alert">
      {{error}}
    </div>
  </div>
</div>

<div class="col-2 ml-auto alert alert-danger alert-dismissible" *ngIf="alert_err" role="alert">
  <button type="button" class="close ml-3" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
 {{error}}
</div>


<!-- <div #backtest_add_err id="backtest_add_err" class="modal-err fade" data-backdrop="false" aria-hidden="true">
  <div class="modal-dialog">
      <div class="alert alert-danger text-center" role="alert">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{backtest_error}}
      </div>
  </div>
</div> -->

<div #db_influx_connect id="db_influx_connect" class="modal fade">
  <div class="modal-dialog">
    <div class="alert alert-danger text-center" role="alert">
      {{backtest_error}}
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<!--Register User-->
<div #register_user id="register_user" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Register new user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div #myAlertRegisterError
            [hidden]="error_register === undefined || error_register === 'Registration successful'"
            class="alert alert-danger">{{error_register}}</div>
          <mat-form-field class="col" appearance="outline">
            <mat-label>User name</mat-label>
            <input matInput formControlName="userName">
              <mat-error *ngIf="!!f.userName.errors.required">User Name is required</mat-error>
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
              <mat-error *ngIf="!!f.password.errors.required">Password is required</mat-error>
              <mat-error *ngIf="!!f.password.errors.minlength">Password must be at least 6 characters</mat-error>
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword">
              <mat-error *ngIf="!!f.confirmPassword.errors.required">Confirm Password is required</mat-error>
              <mat-error *ngIf="!!f.confirmPassword.errors.mustMatch">Passwords must match</mat-error>
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Server Name</mat-label>
            <mat-select formControlName="serverName">
              <mat-option value="192.168.217.116">Server D</mat-option>
              <mat-option value="192.168.217.133">Server E</mat-option>
              <mat-option value="192.168.217.189">Server H</mat-option>
            </mat-select>
            <mat-error>Server Name is required</mat-error>
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Threads</mat-label>
            <input matInput type="number" formControlName="threads">
            <mat-error *ngIf="!!f.threads.errors?.required">Threads is required</mat-error>
            <mat-error *ngIf="!!f.threads.errors?.max">Threads max value 50!</mat-error>
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" class="mr-auto" (click)="registerUser()">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div #myModalError_register id="myModalError_register" class="modal fade">
  <div class="modal-dialog">
    <div class="alert alert-success text-center" role="alert">{{error_register}}</div>
  </div>
</div>