<h1 mat-dialog-title>Новый тест</h1>
<mat-divider></mat-divider>
<div [formGroup]="newTest">

  <mat-form-field class="col" appearance="standard">
    <mat-label>Название теста</mat-label>
    <input matInput formControlName="name_test">
    <mat-error *ngIf="!!fn.name_test.errors?.required">Поле не заполнено</mat-error>
  </mat-form-field>

  <mat-form-field class="col" appearance="standard">
    <mat-label>Выберете должность</mat-label>
    <mat-select formControlName="position_type">
      <mat-option [value]="item"  *ngFor="let item of list_position;">
        {{item}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="!!fn.position_type.errors?.required">Поле не заполнено</mat-error>
  </mat-form-field>

  <mat-form-field class="col" appearance="outline">
    <mat-label>Максимальная оценка теста</mat-label>
    <input matInput formControlName="max_score">
    <mat-error *ngIf="!!fn.max_score.errors?.required">Поле не заполнено</mat-error>
    <mat-error *ngIf="!!fn.max_score.errors?.max">Максимальная оценка только 200 балов</mat-error>
    <mat-error *ngIf="!!fn.max_score.errors?.pattern">Вводить можно только цифры</mat-error>
  </mat-form-field>

  <mat-form-field class="col" appearance="standard">
    <mat-label>Описание теста</mat-label>
    <input matInput formControlName="description_test">
  </mat-form-field>

</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" style="margin-bottom: 12px" (click)="addNewTest()">Отправить</button>
  <button mat-raised-button color="primary" mat-dialog-close style="margin-left: auto; margin-bottom: 12px">Отмена</button>
</div>
