<h1 mat-dialog-title>Новый пользователь</h1>
<div mat-dialog-content>
    <div [formGroup]="registerForm">
        <div class="row">
            <mat-form-field class="col" appearance="outline">
                <mat-label>Фамилия</mat-label>
                <input matInput formControlName="last_name">
                <mat-error *ngIf="!!f.last_name.errors?.required">Поле не заполнено</mat-error>
            </mat-form-field>

            <mat-form-field class="col" appearance="outline">
                <mat-label>Имя</mat-label>
                <input matInput formControlName="first_name">
                <mat-error *ngIf="!!f.first_name.errors?.required">Поле не заполнено</mat-error>
            </mat-form-field>
        </div>
        <mat-form-field class="col" appearance="outline">
            <mat-label>User name</mat-label>
            <input matInput formControlName="userName">
            <mat-error *ngIf="!!f.userName.errors?.required">Поле не заполнено</mat-error>
        </mat-form-field>

        <mat-form-field class="col" appearance="outline">
            <mat-label>Пароль</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="!!f.password.errors?.required">Поле не заполнено</mat-error>
            <mat-error *ngIf="!!f.password.errors?.minlength">Пароль должен быть не меньше 6 символов</mat-error>
        </mat-form-field>

        <mat-form-field class="col" appearance="outline">
            <mat-label>Повторите пароль</mat-label>
            <input matInput type="password" formControlName="confirmPassword">
            <mat-error *ngIf="!!f.confirmPassword.errors?.required">Поле не заполнено</mat-error>
            <mat-error *ngIf="!!f.confirmPassword.errors?.mustMatch">Введенный пароль не совпадает</mat-error>
        </mat-form-field>

        <mat-form-field class="col" appearance="outline">
            <mat-label>Привилегии пользователя</mat-label>
            <mat-select formControlName="user_role">
                <mat-option *ngIf="user_name==='admin'" value="admin">Admin</mat-option>
                <mat-option value="user_hr">Human resources</mat-option>
                <mat-option value="user_pi">Кадровый инспектор</mat-option>
                <mat-option value="user_mt">Менеджер по обучению</mat-option>
            </mat-select>
            <mat-error>Выберете привилегии</mat-error>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" class="mr-auto" (click)="register()">Отправить</button>
    <button mat-raised-button color="primary" mat-dialog-close
        style="margin-left: auto; margin-bottom: 12px">Отмена</button>
</div>